.wrapper{
    width: 1088px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.heading{
    padding-bottom: 21px;
border-bottom: 1px solid var(--header-bg-color);
}
.heading h2{
    color: var(--btn-color-add);
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.5px;
text-align: left;
text-transform: capitalize;
}

.cards{
    display: flex;
    gap: 16px;
}